.DS_Store
/package-lock.json
/source/package-lock.json
.vscode/
.kiro/
.cdk.staging
cdk.out
node_modules/
coverage-reports/
deployment/global-s3-assets
deployment/regional-s3-assets
staging/
open-source/
dev/
